@import "tailwindcss";

:root {
  --white: #fcfcfc;
  --accent: #0077ff;
  --background: var(--white);
  --secondaryBack: #ddd;
  --outline: #c4c4c4;
  --foreground: #171717;
  --shadow: #00000083;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c161b;
    --secondaryBack: #2f3d49;
    --foreground: #ededed;
    --outline: #3a4751;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

a {
  cursor: pointer;
  transition: all 0.125s;
}

a:hover {
  opacity: 0.5;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background);
  color: var(--foreground);
  border-bottom: 1px solid var(--secondaryBack);
}

nav a {
  color: var(--foreground) !important;
  margin: 0px 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.25rem 1rem;
  background: var(--accent);
  color: var(--white) !important;
  border-radius: 16px;
  box-shadow: 0px 2px 5px var(--shadow);
}

.secondaryButton {
  background: var(--secondaryBack);
  color: var(--white) !important;
}

.spacer {
  flex-grow: 1;
}

.section {
  margin: 0rem 2rem;
}

.articleGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "p1 p2 p3"
    "p1 p4 p5"
    "p1 p6 p7";
  gap: 1rem;
  margin: 1.25rem;
}

.articleGrid>:nth-child(1) {
  grid-area: p1;
}
.articleGrid>:nth-child(2) {
  grid-area: p2;
}
.articleGrid>:nth-child(3) {
  grid-area: p3;
}
.articleGrid>:nth-child(4) {
  grid-area: p4;
}
.articleGrid>:nth-child(5) {
  grid-area: p5;
}
.articleGrid>:nth-child(6) {
  grid-area: p6;
}
.articleGrid>:nth-child(7) {
  grid-area: p7;
}

.promptCard{
  background: var(--secondaryBack);
  color: var(--foreground);
  padding: 1rem;
  border-radius: 12px;
  outline: var(--outline) solid 2px;
  box-shadow: 0px 0px 10px var(--shadow);
}

.primaryCard {
  flex-grow: 1;
  max-height: 30rem !important;
  min-width: 25%;
}

.primaryCard h2 {
  font-size: 1.5rem;
}

.storyCard {
  color: var(--foreground);
  padding: 8px;
  background: var(--secondaryBack);
  border-radius: 12px;
  outline: var(--outline) solid 2px;
  box-shadow: 0px 0px 10px var(--shadow);
  max-height: 15rem;
  transition: all 0.125s;
}

.storyCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px var(--shadow);
}

.storyBanner {
  width: 100%;
  aspect-ratio: calc(16/9);
  object-fit: cover;
  border-radius: 4px;
}


::marker {
  font-size: 0;
}