@import "tailwindcss";

:root {
  --white: #fcfcfc;
  --accent: #0077ff;
  --background: var(--white);
  --secondaryBack: #ddd;
  --outline: #c4c4c4;
  --foreground: #171717;
  --shadow: #00000083;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c161b;
    --secondaryBack: #2f3d49;
    --foreground: #ededed;
    --outline: #3a4751;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: bold;
}

a {
  cursor: pointer;
  transition: all 0.125s;
}

a:hover {
  opacity: 0.5;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background);
  color: var(--foreground);
  border-bottom: 1px solid var(--secondaryBack);
}

nav a {
  color: var(--foreground) !important;
  margin: 0px 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.25rem 1rem;
  background: var(--accent);
  color: var(--white) !important;
  border-radius: 16px;
  box-shadow: 0px 2px 5px var(--shadow);
}

.secondaryButton {
  background: var(--secondaryBack);
  color: var(--white) !important;
}

.spacer {
  flex-grow: 1;
}

.storyCard {
  width: 10rem;
  color: var(--foreground);
  padding: 12px;
  background: var(--secondaryBack);
  border-radius: 12px;
  outline: var(--outline) solid 2px;
  box-shadow: 0px 0px 10px var(--shadow);
}

.storyBanner {
  width: 100%;
  height: 100px;
  object-fit: cover;
}